.E1 .list-group-item {
  /* border-top: 0 none; */
  border: 0;

}

body{
    background-color: rgb(211, 211, 211);
    opacity: 70%;
}
.list-group{
    background-color: rgb(196, 196, 196);
    

}
.list-group-item{
    background-color: rgb(170, 170, 170);
}

p{
    color: black;
}


.F p{
    font-size: 20px;
}


.allseasons{
    background-color: teal;
}

.spring{
    background-color: rgb(252, 228, 248);
}

.summer{
    background-color: rgb(255, 255, 0);
}

.autumn{
    background-color: rgb(209, 128, 7);
}

.winter{
    background-color: rgb(116, 199, 255);
}